[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Trying gerrit
[access "refs/*"]
	owner = group user/mnchandan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mnchandan
	label-Verified = -1..+1 group user/mnchandan
	push = group user/mnchandan
	read = group user/mnchandan
	rebase = group user/mnchandan
	removeReviewer = group user/mnchandan
	submit = group user/mnchandan
[access "refs/heads/*"]
	create = group user/mnchandan
	push = +force group user/mnchandan
	pushMerge = group user/mnchandan
	read = group user/mnchandan
[access "refs/tags/*"]
	push = group user/mnchandan
	push = +force group user/mnchandan
